
/* Title   */
.nav-container {
  padding: 0 0;
}

.profile-img{
  border-radius: 50%;
  margin-bottom: 50px;
  width: 15rem;
}

.navbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0.9;

  margin: auto;
  padding:  1.5rem 7%;
  transition: padding-top .3s, padding-bottom .3s;
  background-color: #66BFBF;
  margin-bottom:120px;
}

.navbar-brand{
  font-family:  'Merriweather-Bold', serif;
  font-size: 2.5rem;
}

.nav-link {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: "Montserrat-Light";
}

.container-fluid {

  padding: 0 0 100px 0;
  margin: 0;
}

.sections-title {
  text-align:center;
  padding: 65px;
}

#header {
  background-color: #bbded6;
  text-align: center;
}

.profile{
  padding-top: 300px;
  padding-bottom: 100px;
}

.greetings {
  line-height: 2;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.pro {
    text-decoration: underline;
}


 /* About me  */

 #about {
   font-family: 'Merriweather', serif;
   text-align: center;
   padding-bottom: 10%;
 }


 .intro-paragraph {
     width: 40%;
     font-size: 20px;
     line-height: 2;
     margin: auto;
     color: #313848;
 }

 /* Projects */

 #project {
  font-family: 'Merriweather', serif;
  background-color: #66BFBF;
  padding-bottom: 10%;
 }

 .project1-img {
   height: auto;
   width:100%;
   margin-right: 20px;
   margin-bottom: 20px;
 }

 .project1 {
   padding-left: 7%;
 }

.project-text1 {
  color: #fff;
  width: 50%;
}

 .project2-img {
   height: auto;
   width: 100%;
   float: right;
   margin-bottom: 20px;
 }

 .project2 {
  padding-right: 7%;
 }

.project-text2 {
  margin-left: 55%;
  width: 50%;
  color: #fff;
}

.leftProject-btn{
  margin-left: 60%;
}

.project3-img {
  height:auto;
  width: 100%;
   margin-bottom: 20px;
  float: left;
}

.project3 {
  padding-left: 7%;
}

.project-text3 {
 width: 50%;
 color: #fff;
}

.project-title {
text-align: center;
border-radius: 10rem;
font-size: 1.7rem;

}


#skill {
  font-family: 'Merriweather', serif;
  text-align: center;
  padding-bottom: 10%;
}


.skill-icon{
  font-size: 4.5rem;
  line-height: 2;
}

.skill-col {
  margin-top: 20px;
  margin-bottom: 20px;
}

#contact{
  background-color: #bbded6;
  text-align: center;
  color: #313848;
  padding: 1px;
}


h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #348498;
}


.social-media-icon {
  font-size: 40px;
  color: #fff;
  margin-bottom: 5px;
}

.social-media-icon:hover{
  color:#216583;
}


.social-media-item {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 65px 25px;
  margin-left: -10px;
}

a {
  color: #000;
}

a:hover{
  text-decoration: none;
  color: #216583;
}

.copyright{
  padding: 25px;
  text-align: center;
  margin-bottom: 0;
  font-size: 75%;
}

@media (max-width:  845px) {

  .project-text2 {
    margin-left: 50%;
  }
}

@media (max-width: 635px) {
   .intro-paragraph {
      font-size: 15px;
  }
  .project-title  {
    font-size: 1.2rem;
  }
}

@media (max-width: 385px) {
   .intro-paragraph {
      font-size: 15px;
  }
  .project-title  {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .nav-link {
      text-align: right;
  }
}

.app{
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
